@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-size: 62.5%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.panel {
  overflow: auto;
  text-align: center;
	height: 100vh;
	width: 100vw;
}

.one {
  background-color: #232229;
}

.content {
  width: 100vw;
  margin-top: 15rem;
}

.logo-container {
  position: absolute;
  width: 100vw;
}

.logo {
  height: 5rem;
}

.header-name {
  position: absolute;
  transform: translateY(8rem);
  width: 100vw;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.75rem;
  font-size: 5rem;
  color: #fff;
}

.love-png {
  position: absolute;
  transform: translate(-0.5rem, 13.5rem);
  height: 6rem;
}

.links-container {
  position: absolute;
  width: 100vw;
  transform: translateY(30rem);
}

.links-container a {
  margin: 3rem;
  letter-spacing: 0.25rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem solid #fff;
}

a:hover {
  border-bottom: 1rem solid #1cdfd4;
}

.fix-position {
  position: fixed;
  transform: translateY(-11rem);
}

.fix-position a:hover {
  border-bottom: 1rem solid #ed1276;
}

.arrow-down-container {
  position: absolute;
  width: 100vw;
  bottom: 5rem;
}
.arrow-down {
  height: 2rem;
}

/* PG 2 */
.two {
  background: linear-gradient(45deg, #ed1276, #1cdfd4);
  margin: 0;
}

.header-welcome {
  color: #30247a;
  font-size: 3rem;
}

.two p {
  color: #30247a;
  font-size: 2.25rem;  
}

.two span {
  font-weight: 800;
}

footer {
  position: absolute;
  width: 100vw;
  color: #30247a;
  font-size: 1rem; 
  transform: translateY(20rem); 
}

@media only screen and (max-width: 475px) {
  .links-container a {
    margin: 2rem;
    letter-spacing: 0.25rem;
    font-size: 2rem;
  }
}