@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-size: 62.5%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.panel {
  overflow: auto;
  text-align: center;
	height: 100vh;
	width: 100vw;
}

.one {
  background-color: #232229;
}

.content {
  width: 100vw;
  margin-top: 15rem;
}

.logo-container {
  position: absolute;
  width: 100vw;
}

.logo {
  height: 5rem;
}

.header-name {
  position: absolute;
  transform: translateY(8rem);
  width: 100vw;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.75rem;
  font-size: 5rem;
  color: #fff;
}

.love-png {
  position: absolute;
  transform: translate(-0.5rem, 13.5rem);
  height: 6rem;
}

.links-container {
  position: absolute;
  width: 100vw;
  transform: translateY(30rem);
}

.links-container a {
  margin: 2.4rem;
  letter-spacing: 0.25rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem solid #fff;
}

a:hover {
  border-bottom: 1rem solid #1cdfd4;
}

.fix-position {
  position: fixed;
  transform: translateY(-11rem);
}

.fix-position a{
  color: #232229;
  border-bottom: 0.25rem solid #232229;
}

.fix-position a:hover {
  border-bottom: 1rem solid #ed1276;
}

.arrow-down-container {
  position: absolute;
  width: 100vw;
  bottom: 5rem;
}
.arrow-down {
  height: 2rem;
}

/* PG 2 */
.two {
  background: linear-gradient(45deg, #8df8f3, #fff);
  margin: 0;
}

.header-welcome {
  color: #232229;
  font-size: 3rem;
}

.two p {
  color: #232229;
  font-size: 2.25rem;
}

.bold-text {
  font-weight: 800;
}

.small-text {
  font-size: 1.4rem;
}

.underline-text {
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem solid #8df8f3;
}

/* Projects Panel */

.close button {
  display: none;
  border: 0;
  background: transparent;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 2rem;
  cursor: pointer;
}

.close button:hover {
  color: #1cdfd4;
  transform: rotate(15deg);
}

.close button.visible {
  display: block;
  z-index: 9999;
}

.projects, .about, .contact {
  display: none;
  background-color: #232229;
}

.projects.visible, .about.visible, .contact.visible {
  display: block;
  opacity: 0.97;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.header-projects, .header-about, .header-contact {
  color: #fff;
  font-size: 3.4rem;
  letter-spacing: 0.25rem;
}

.projects p, .about p, .contact p {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  padding: 0 5rem;
}

.proj-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.proj-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 27.5rem;
}

.proj-img-1 {
  background-image: url(images/neat.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.proj-img-2 {
  background-image: url(images/t_pals.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.proj-img-1 a, .proj-img-2 a {
  display: none;
}

.proj-img-1:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, rgb(35, 34, 41, 0.8), rgb(35, 34, 41, 0.8)),
  url(images/neat.png);
}

.proj-img-2:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, rgb(35, 34, 41, 0.8), rgb(35, 34, 41, 0.8)),
  url(images/t_pals.png);
}

.proj-img-1:hover > a, .proj-img-2:hover > a {
  display: block;
}

.proj-img a {
  margin: 1.5rem;
  width: 10.5rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.15rem;
  padding-bottom: 0.25rem;
  border-bottom: 0.25rem solid #fff;
}

.proj-img a:hover {
  border-bottom: 0.75rem solid #1cdfd4;
}

.contact p {
  font-size: 2.4rem;
}

.projects p > a, .contact a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2.4rem;
  letter-spacing: 0.25rem;
  color: #fff;
  padding-bottom: 0.25rem;  
  border-bottom: 0.25rem solid #fff;  
}

.projects p > a:hover, .contact a:hover {
  border-bottom: 1rem solid #1cdfd4;
}

@media only screen and (max-width: 500px) {
  .links-container a {
    margin: 2rem;
    letter-spacing: 0.25rem;
    font-size: 2rem;
  }
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 500px) {
  .content {
    margin-top: 25%;
  }
  
  .two {
    display: none;
  }

  .logo {
    height: 8rem;
  }

  .header-name {
    font-size: 10rem;
    transform: translateY(14rem);
  }

  .love-png {
    transform: translate(-0.5rem, 25.5rem);
    height: 10rem;
  }

  .links-container {
    transform: translateY(42rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links-container a {
    margin: 5rem;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    padding-bottom: 0.5rem;
  }

  .arrow-down-container {
    display: none;
  }

  .close button {
    font-size: 7rem;
    padding: 4rem;
  }

  .header-projects,
  .header-about,
  .header-contact {
    font-size: 4.8rem;
  }

  .projects p,
  .about p,
  .contact p {
    font-size: 4.8rem;
    margin: 2rem;
  }

  .proj-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .proj-img {
    width: 100%;
    height: 50rem;
    margin: 2.5rem;
  }

  .proj-img-1 {
    background-size: cover;
  }

  .proj-img-2 {
    background-size: cover;
  }
  
  .proj-img a {
    margin: 3.5rem;
    width: 26rem;
    font-size: 4.8rem;
  }

  .projects p > a {
    font-size: 4.8rem;
  }

  .small-text {
    font-size: 2.4rem;
  }

  .contact a {
    font-size: 4.8rem;
  }

  .contact p {
    margin: 10rem;
  }
}